@model List<AkademiQMongoDb.DTOs.BlogDtos.ResultBlogDto>
@{
    ViewData["Title"] = "Blog";
    Layout = "~/Views/UILayout/Layout.cshtml"; // Kendi vitrin ana şablonunun yolu
}

<div class="breadcrumb-area text-center shadow text-light" style="background: linear-gradient(to right, #111111, #4a0000); padding-top: 170px; padding-bottom: 70px; margin-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h1 style="font-size: 2.8rem; font-weight: 700; text-transform: none; margin-bottom: 10px;">Blog Yazıları</h1>
                <ul class="breadcrumb" style="background: transparent; padding: 0; margin: 0; display: inline-flex; justify-content: center; font-size: 1.1rem;">
                    <li><a href="/Default/Index"><i class="fas fa-home"></i> Ana Sayfa</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="blog-area full-blog blog-standard default-padding">
    <div class="container">
        <div class="row">
            <div class="blog-content col-xl-10 offset-xl-1 col-md-12">
                <div class="blog-item-box">

                    @foreach (var item in Model)
                    {
                        <div class="item">
                            <div class="thumb">
                                <a href="/Blog/BlogDetail/@item.Id"><img src="@item.ImageUrl" alt="@item.Title"></a>
                            </div>
                            <div class="info">
                                <div class="meta">
                                    <ul>
                                        <li><a href="#"><i class="far fa-calendar-alt"></i> @item.Date</a></li>
                                        <li><a href="#"><i class="far fa-user-circle"></i> @item.Author</a></li>
                                    </ul>
                                </div>
                                <h2><a href="/Blog/BlogDetail/@item.Id">@item.Title</a></h2>

                                <p>
                                    @(item.Description.Length > 300 ? item.Description.Substring(0, 300) + "..." : item.Description)
                                </p>

                                <a class="btn mt-10 btn-md circle btn-theme animation" href="/Blog/BlogDetail/@item.Id">Devamını Oku</a>
                            </div>
                        </div>
                    }

                </div>

                <div class="row">
                    <div class="col-md-12 pagi-area text-center">
                        <nav aria-label="navigation">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-left"></i></a></li>
                                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>